.mec-sed-methods li a:focus-visible,
.mec-sed-methods li.active a:focus-visible,
.mec-add-booking-tabs-left a:focus-visible,
.mec-add-event-tabs-left a:focus-visible,
#webnus-dashboard select:focus-visible,
#webnus-dashboard input:focus-visible {
    outline: #000 auto 1px;
}


.mec-add-event-tabs-wrap .select2-container:focus,
.mec-create-shortcode-tab-content .select2-container:focus,
.mec-sed-methods li.active:focus,
.post-type-mec-books.taxonomy-mec_coupon input[type=number]:focus,
.post-type-mec-books.taxonomy-mec_coupon input[type=search]:focus,
.post-type-mec-books.taxonomy-mec_coupon input[type=text]:focus,
.post-type-mec-books.taxonomy-mec_coupon input[type=url]:focus,
.post-type-mec-books.taxonomy-mec_coupon select:focus,
.post-type-mec-books.taxonomy-mec_coupon textarea:focus,
.post-type-mec-events.taxonomy-mec_category input[type=number]:focus,
.post-type-mec-events.taxonomy-mec_category input[type=search]:focus,
.post-type-mec-events.taxonomy-mec_category input[type=text]:focus,
.post-type-mec-events.taxonomy-mec_category input[type=url]:focus,
.post-type-mec-events.taxonomy-mec_category select:focus,
.post-type-mec-events.taxonomy-mec_category textarea:focus,
.post-type-mec-events.taxonomy-mec_label input[type=number]:focus,
.post-type-mec-events.taxonomy-mec_label input[type=search]:focus,
.post-type-mec-events.taxonomy-mec_label input[type=text]:focus,
.post-type-mec-events.taxonomy-mec_label input[type=url]:focus,
.post-type-mec-events.taxonomy-mec_label select:focus,
.post-type-mec-events.taxonomy-mec_label textarea:focus,
.post-type-mec-events.taxonomy-post_tag input[type=number]:focus,
.post-type-mec-events.taxonomy-post_tag input[type=search]:focus,
.post-type-mec-events.taxonomy-post_tag input[type=text]:focus,
.post-type-mec-events.taxonomy-post_tag input[type=url]:focus,
.post-type-mec-events.taxonomy-post_tag select:focus,
.post-type-mec-events.taxonomy-post_tag textarea:focus,
.taxonomy-mec_location input[type=number]:focus,
.taxonomy-mec_location input[type=search]:focus,
.taxonomy-mec_location input[type=text]:focus,
.taxonomy-mec_location input[type=url]:focus,
.taxonomy-mec_location select:focus,
.taxonomy-mec_location textarea:focus,
.taxonomy-mec_organizer input[type=number]:focus,
.taxonomy-mec_organizer input[type=search]:focus,
.taxonomy-mec_organizer input[type=text]:focus,
.taxonomy-mec_organizer input[type=url]:focus,
.taxonomy-mec_organizer select:focus,
.taxonomy-mec_organizer textarea:focus,
.taxonomy-mec_speaker input[type=number]:focus,
.taxonomy-mec_speaker input[type=search]:focus,
.taxonomy-mec_speaker input[type=text]:focus,
.taxonomy-mec_speaker input[type=url]:focus,
.taxonomy-mec_speaker select:focus,
.taxonomy-mec_speaker textare a:focus,
.post-type-mec-books.taxonomy-mec_coupon .button:focus,
.post-type-mec-books.taxonomy-mec_coupon .button-secondary:focus,
.post-type-mec-events.taxonomy-mec_category .button:focus,
.post-type-mec-events.taxonomy-mec_category .button-secondary:focus,
.post-type-mec-events.taxonomy-mec_label .button:focus,
.post-type-mec-events.taxonomy-mec_label .button-secondary:focus,
.post-type-mec-events.taxonomy-post_tag .button:focus,
.post-type-mec-events.taxonomy-post_tag .button-secondary:focus,
.taxonomy-mec_location .button:focus,
.taxonomy-mec_location .button-secondary:focus,
.taxonomy-mec_organizer .button:focus,
.taxonomy-mec_organizer .button-secondary:focus,
.taxonomy-mec_speaker .button:focus,
#mec_add_fee_button:focus,
#mec_add_ticket_variation_button:focus,
#mec_meta_box_downloadable_file_options #mec_downloadable_file_remove_image_button:focus,
#taxes_option #mec_fees_list .mec-form-row .button:focus,
#ticket_variations_option #mec_ticket_variations_list .mec-form-row .button:focus,
.mec-export-settings:focus,
.mec-import-settings:focus,
.mec-meta-box-fields .mec-form-row .button:not(.wp-color-result):focus,
.mec-occurrences-wrapper .button:not(.wp-color-result):focus,
.mec-calendar-metabox .mec-form-row input[type=checkbox]:focus,
.mec-meta-box-fields .mec-form-row input[type=checkbox]:focus,
.mec-attendees-wrapper select:focus,
.mec-calendar-metabox .wn-mec-select:focus,
.mec-form-row input[type=date]:focus,
.mec-form-row input[type=email]:focus,
.mec-form-row input[type=number]:focus,
.mec-form-row input[type=tel]:focus,
.mec-form-row input[type=text]:focus,
.mec-form-row input[type=url]:focus,
.mec-form-row select:focus,
.mec-form-row textarea:focus,
.mec-form-row.mec-skin-list-date-format-container input[type=text]:focus,
.mec-occurrences-wrapper input[type=date]:focus,
.mec-occurrences-wrapper input[type=email]:focus,
.mec-occurrences-wrapper input[type=number]:focus,
.mec-occurrences-wrapper input[type=tel]:focus,
.mec-occurrences-wrapper input[type=text]:focus,
.mec-occurrences-wrapper input[type=url]:focus,
.mec-occurrences-wrapper select:focus,
.mec-occurrences-wrapper textarea:focus,
.mec-add-booking-tabs-left a:focus,
.mec-add-event-tabs-left a:focus,
.mec-create-shortcode-tabs-left a:focus,
#mec-event-data input[type=date]:focus,
#mec-event-data input[type=email]:focus,
#mec-event-data input[type=tel]:focus,
#mec-event-data input[type=text]:focus,
#mec-event-data input[type=url]:focus,
#mec-event-data select:focus,
#mec-event-data textarea:focus,
#mec_exceptions_not_in_days_date:focus,
#mec_meta_box_date_form input[type=text]:focus,
#mec_select_tags.mec-create-shortcode-tab-content input[type=text]:focus,
#mec_settings_weather_module_api_key:focus,
#webnus-dashboard .mec-intro-section .mec-intro-section-link-tag.button-primary:focus,
#webnus-dashboard .total-bookings button:focus,
#webnus-dashboard .w-box.total-bookings ul li a:focus,
#webnus-dashboard .mec-intro-section .mec-intro-section-link-tag:focus,
button.fserv-button-submit:focus,
.post-type-mec-events #mec_metabox_label input[type=checkbox]:focus,
.post-type-mec-events .components-panel__body input[type=checkbox]:focus {
    outline: #000 auto 1px;
}

.mec-sed-methods li.active,
.mec-sed-methods li.active a,
.mec-add-booking-tabs-left a.mec-tab-active,
.mec-add-event-tabs-left a.mec-tab-active,
.mec-create-shortcode-tabs-left a.mec-tab-active,
.mec-add-booking-tabs-left a,
.mec-add-event-tabs-left a,
.mec-create-shortcode-tabs-left a,
.post-type-mec-books.taxonomy-mec_coupon .button,
.post-type-mec-books.taxonomy-mec_coupon .button-secondary,
.post-type-mec-events.taxonomy-mec_category .button,
.post-type-mec-events.taxonomy-mec_category .button-secondary,
.post-type-mec-events.taxonomy-mec_label .button,
.post-type-mec-events.taxonomy-mec_label .button-secondary,
.post-type-mec-events.taxonomy-post_tag .button,
.post-type-mec-events.taxonomy-post_tag .button-secondary,
.taxonomy-mec_location .button,
.taxonomy-mec_location .button-secondary,
.taxonomy-mec_organizer .button,
.taxonomy-mec_organizer .button-secondary,
.taxonomy-mec_speaker .button,
.taxonomy-mec_category .wp-color-result-text {
    color: #000;
}

#mec_calendar_filter .description {
    color: #000 !important;
}

.mec-switcher input {
    margin: 0 0 0 0 !important;
    bottom: -1px;
    left: -1px;
    visibility: unset;
    width: 63px !important;
    height: 36px !important;
    border-radius: 40px;
}

#mec_calendar_display_options .mec-col-4 input[type=checkbox] {
    margin-left: 0!important;
}